{% extends '::home.html.twig' %}

{% block body %}

    <div class="container">
        {% block header %}
            <div class="row">
                <div class="col-lg-12 col-md-12 transparentBg">
                    <div class="page-header">
                        <h1> {% block page_title %} {{ "Recipe editor" }} {% endblock %}
                            <small>{% block page_subtitle_title %} {{ "Very tasty!" }} {% endblock %}</small>
                        </h1>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="row">
            <div class="col-lg-12 col-md-12 transparentBg">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
