@import "../lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "../lib/angular/angular-csp.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;

//  background-image:url(images/salad.jpg);
//  background-position:center bottom;
//  background-repeat:no-repeat
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:80px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
  clear:both;
  padding-top:20px;
}

.GurmeListBlock {
  background-color: lightsalmon;
  text-align: center;
}

.content{
  padding-top: 40px;
}

.calorieBadge {
  position:absolute;
  right:31px;
  bottom:26px;
  background-color: rgba(230, 230, 230, 0.7);
  color: #000;
  font-size: 20px; padding: 5px 5px;
}

#inputDiv {
  margin-top: 220px;
  margin-bottom: 10px;
  background-color: rgba(230, 230, 230, 0.7);
}

#recipeDiv {
  background-color: rgba(230, 230, 230, 0.7);
  margin-top: 10px;
}

#inputDiv {
  @media (max-width: $screen-xs-max) {
    margin-top: 0px;
    padding-bottom: 5px;
  }
}

#recipeBlock {
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  -webkit-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#content {
  z-index:1;
}