@import "../lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "../lib/angular/angular-csp.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:80px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
  clear:both;
  padding-top:20px;
}

.GurmeListBlock {
  background-color: lightsalmon;
  text-align: center;
}

.content{
  padding-top: 40px;
}

#gurmeCalorieInputTopSpacer {
  @media (max-width: $screen-xs-max) {
    display: none;
    background-color: #000000;
    color: #00ff00;
  }
}

#recipeBlock {
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}
